<div id="toc">
  <p class="toc-header">
    <i class="iconfont icon-list"></i>&nbsp;
    此篇文章重點如下
    <hr>
    <!-- <%= __('post.toc') %> -->
  </p>
  <div class="toc-body" id="toc-body"></div>
  <hr>
  <p class="toc-header">
    <i class="iconfont icon-tags"></i>&nbsp;
    更多文章分類
    <hr>
  </p>
  <%- partial('tags') %>
</div>
