
.AuthorInfo
  display: flex;
  border-radius: 5px;
  padding:0px 5px 0px 5px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,14%), 0 3px 10px 3px rgba(0,0,0,20%), 0 1px 5px 0 rgba(0,0,0,12%);
  @media (max-width: 768px)
    flex-direction: column;
    justify-content: center;
