<% if (theme.post.meta.author && theme.post.meta.author.enable && (page.author || config.author)) { %>

  <% if ((page.author || config.author)=='油圈' ) { %>

    <!-- https://medium.com/@harivigneshjayapalan/life-of-a-unicorn-developer-d442b6655399 -->
    <div class="AuthorInfo">
      <div style="margin-right: 48px;">
        <img style="width:75%;height:75%;border-radius: 50%;"
          src="https://www.ss.net.tw/images/product_images/popup_images/Kandinsky040.jpg" alt="大頭貼">
      </div>
      <div style="padding: 20px 0;">
        <p>油圈<span style="color: gray;margin-left: 10px;">Unicorn Developer</span></p>
        <p>
          由全能住宅改造王熱愛上設計，<br>
          對於程式能夠自己規劃設計、自己施工完成的成就感上癮，<br>
          因緣際會成為了網站工程師，<br>
          是一名<strong>【程式與設計】</strong>雙棲的【<a href="https://medium.com/@harivigneshjayapalan/life-of-a-unicorn-developer-d442b6655399" target="_blank">獨角獸開發者</a>】
        </p>
      </div>
    </div>

    <% } %>

      <% if ((page.author || config.author)=='愷弟貓男' ) { %>

        <div class="AuthorInfo">
          <div style="width:100%;height:50%;text-align: center;">
            <img style="border-radius: 8px; width: 200px;" src="https://i.imgur.com/6nmYg7L.jpg" alt="大頭貼">
          </div>
          <div style="padding: 20px;">
            <p>愷弟貓男<span style="color: gray;margin-left: 10px;">Growth Hacker</span></p>
            <p>
              秉持著<strong>【商業本於人，科技始於人性】</strong>，<br>
              喜歡用程式、數字以目標導向追蹤成長趨勢，涉略於，
            </p>
          </div>
        </div>

        <% } %>

          <% if ((page.author || config.author)=='龔龔' ) { %>

            <div
              style="background-color: rgb(0 0 0 / 5%);border-radius: 5px;padding:24px 48px;display:flex;box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 10px 3px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);">
              <div style="width:100%;height:50%;margin-right: 48px;">
                <img style="border-radius: 50%;"
                  src="https://progressbar.tw/uploads/user/avatar/1217/medium_Vincent.jpg" alt="大頭貼">
              </div>
              <div style="padding: 20px 0;">
                <p>龔龔<span style="color: gray;margin-left: 10px;">家教</span></p>
                <p>
                  喜歡把混亂的事情變的簡單
                  用嘴巴做事其實很可以
                  但要結合靈活的腦袋思考
                  就一起來拆解吧
                </p>
              </div>
            </div>

            <% } %>


              <% } %>
