.ContentSection{
    height: 100vh;
}
.TitleBox{
    padding: 1rem 0;
    background-color: #F7C242;
    height:50vh;
}

.ContentH2{
    font-size: 100px!important;
}
.ContentTextBox{
    p{
        max-width: 500px;
    }
}