$Url1: "https://picsum.photos/3000/3000";
$Url2: "https://picsum.photos/3000/3000?random";
$Url3: "https://picsum.photos/3000/3000?random";
$Url4: "https://picsum.photos/3000/3000?random";
$Url5: "https://picsum.photos/3000/3000?random";
$Url6: "https://picsum.photos/3000/3000?random";

@mixin HeroImage($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
}

.HeroImage {
    &1 {
        @include HeroImage($Url1);
    }
    &2 {
        @include HeroImage($Url2);
    }
    &3 {
        @include HeroImage($Url3);
    }
    &4 {
        @include HeroImage($Url4);
    }
    &5 {
        @include HeroImage($Url5);
    }
    &6 {
        @include HeroImage($Url6);
    }
}



.TextBox {
    max-width: 930px;
    justify-content: center;
}

.Title {
    font-size: 4rem;
    line-height: 1.3;
    white-space: normal;
    word-break: break-word;
    color: #FFF;
    z-index: 100;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 1px 1px 4px black;
}

.SubTitle {
    font-size: 1rem;
    line-height: 1.1rem;
    max-width: 50%;
    white-space: normal;
    word-break: break-word;
    color: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 1px 1px 4px black;
}

.Text {
    line-height: 1.7;
    font-size: 1rem;
    max-width: 1000px;
    white-space: normal;
    word-break: break-word;
    color: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 1px 1px 4px black;
}

// Swiper

.swiper {
    width: 100%;
    height: 100%;

    &-pagination {
        position: absolute;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: .3s opacity;
        z-index: 10;
        text-shadow: 1px 1px 4px black;
        bottom: 40rem !important;
        &-item {
            display: flex;
            align-items: center;

            .pagination-number {
                opacity: 0.5;
            }

            &:hover,
            &:focus {
                cursor: pointer;
            }

            &:last-of-type {
                .pagination-separator {
                    width: 0;
                }
            }

            &.active {
                .pagination-number {
                    opacity: 1;
                }

                .pagination-separator {
                    width: 10vw;
                }
            }
        }
    }

    &-slide {
        background-position: center;
        background-size: cover;
    }

}

.swiper-button-next::after {
    text-shadow: 1px 1px 4px black;
}

.swiper-button-prev::after {
    text-shadow: 1px 1px 4px black;
}

.pagination-number {
    font-size: 1.8rem;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    padding: 0 0.5rem;
}

.pagination-separator {
    display: none;

    @media (min-width: 45em) {
        display: block;
    }

    position: relative;
    width: 40px;
    height: 2px;
    background: rgba(#FFFFFF, 0.25);
    transition: all .3s ease;
    text-shadow: 1px 1px 4px black;
    &-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        transform-origin: 0 0;
    }
}



.intro-campaign-cta {
    background-color: transparent;
    border-color: white;
    margin-top: 38px;
    cursor: pointer;
}

.button-cta {
    border-radius: 50px;
    display: inline-block;
    border: 2px solid white;
    transition: 0.3s background-color ease-in-out;
    padding: 15px;
    color: white;
    text-shadow: 1px 1px 4px black;
    box-shadow: 1px 1px 1px black;
    &:hover
    {
        background-color: white;
        color: black;
        text-shadow:none;
    }
}