$Url1: "https://picsum.photos/3000/3000";

$Url2: "https://picsum.photos/3000/3000?random";

@mixin HeroImage($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
}

.HeroImageOne {
    @include HeroImage($Url1);
}

.HeroImageTwo {
    @include HeroImage($Url2);
}