$Url1: "https://images.unsplash.com/photo-1611716524065-622312678d68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1111&q=80";

$Url2:"https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80";

@mixin HeroImage($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
}

.HeroImageOne {
    @include HeroImage($Url1);
}
.HeroImageTwo{
    @include HeroImage($Url2);
}