.marquee-container {
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.3);
}

.marquee {
    padding-left: 100vw;
    display: inline-block;
    animation: marquee 25s linear infinite;
    animation-play-state: running;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.marquee.paused, .marquee-container:hover .marquee {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}