.NavLogo {
    width: 50px;
}

header {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10000000;
    position: fixed;
    left: 50%;
    margin-left: -570px !important;
}

.BrandName {
    margin:0 1rem;
    font-family: 'Racing Sans One', cursive !important;
}