.NavLogo {
    width: 50px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

header {
    z-index: 10000000;
    position: fixed;
    padding: 1.2rem;
    h2{
        margin: 5px 10px;
        text-shadow: 3px 1px 1px red;
    }
}

.BrandName {
    margin:0 1rem;
    font-family: 'Racing Sans One', cursive !important;
    color: white;
    text-shadow: 2px 2px 7px #777777;
}