.NavLogo {
    width: 40px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

header {
    transition: all 1s;
    transition-timing-function: ease-in-out;
    z-index: 10000000;
    position: fixed;
    margin: 5px 10px;
}

.LogoBox {
    padding: 0 2rem;

    a {
        text-decoration: none;
    }
}

.BrandName {
    margin: 0 1rem;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.nav-link {

    color: white;
    &-word {
        transition: all 1.5s;
        text-shadow: 2px 2px 1px black;
        color: white;
        margin: 0 2.5rem;
        &:hover{
            color: red;
        }
    }

    &:hover {
        color: white !important;
        text-shadow: none;
    }
}

// https://stackoverflow.com/questions/38201831/add-a-shadow-to-the-bottom-of-a-header-when-scrolled

.NavActive {
    transition: all 1.5s;
    transition-timing-function: ease-in-out;
    background-color: white;
    box-shadow: 1px 1px 15px  black;
}
.LinkWordActive {
    transition: all 1.5s;
    text-shadow: 2px 2px 1px white;
    color: #000;
}