@import "Nav";
@import "HeroImage";
@import "Marquee";
@import "Scrollbar";
@import "ContentSection";
@import "Block";

html,
body {
    font-family: CustomSansSerif;
}

@font-face{
    font-family: CustomSansSerif;
    src: url('https://fonts.gstatic.com/s/notoseriftc/v23/XLY9IZb5bJNDGYxLBibeHZ0Bvr8vbXwuVcgUbQ3zF6M3eg1qzxeg6QwzxcSPzLZfXbm0Gs_7uos.6.woff2');
    unicode-range: U+4E00-9FFF;
}

@font-face{
    font-family: CustomSansSerif;
    src: url('https://fonts.gstatic.com/s/caveat/v15/Wnz6HAc5bAfYB2Q7azYYmg8.woff2');
    unicode-range: U+00-024F;
}