@import "Nav";
@import "HeroImage";

html,
body {
    font-family: CustomSansSerif;
}

@font-face{
    font-family: CustomSansSerif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
    unicode-range: U+4E00-9FFF;
}

@font-face{
    font-family: CustomSansSerif;
    src: url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
    unicode-range: U+00-024F;
}