.NavLogo {
  width: 50px;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

header {
  z-index: 10000000;
  position: fixed;
  margin: 5px 10px;
}

.LogoBox a {
  text-decoration: none;
}

.BrandName {
  margin: 0 1rem;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.nav-link {
  color: white;
  text-shadow: 1px 1px 4px black;
}

.HeroImageOne {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
}

.HeroImageTwo {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
}

.LogoBox {
  padding: 1rem;
}

.Title {
  font-size: 4rem;
  line-height: 1;
  white-space: normal;
  word-break: break-word;
  color: #FFF;
  z-index: 100;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 1px 1px 4px black;
}

.SubTitle {
  font-size: 1rem;
  line-height: 1.1rem;
  max-width: 50%;
  white-space: normal;
  word-break: break-word;
  color: #FFF;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 1px 1px 4px black;
}

.Text {
  line-height: 1.3;
  font-size: 1rem;
  max-width: 600px;
  white-space: normal;
  word-break: break-word;
  color: #FFF;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 1px 1px 4px black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  z-index: 10;
  bottom: 63% !important;
  left: -200px !important;
  text-shadow: 1px 1px 4px black;
}

.swiper-pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-item .pagination-number {
  opacity: 0.5;
}

.swiper-pagination-item:hover, .swiper-pagination-item:focus {
  cursor: pointer;
}

.swiper-pagination-item:last-of-type .pagination-separator {
  width: 0;
}

.swiper-pagination-item.active .pagination-number {
  opacity: 1;
}

.swiper-pagination-item.active .pagination-separator {
  width: 10vw;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-button-next::after {
  text-shadow: 1px 1px 4px black;
}

.swiper-button-prev::after {
  text-shadow: 1px 1px 4px black;
}

.pagination-number {
  font-size: 1.8rem;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  padding: 0 0.5rem;
}

.pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media (min-width: 45em) {
  .pagination-separator {
    display: block;
  }
}

.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.marquee-container {
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.3);
}

.marquee {
  padding-left: 100vw;
  display: inline-block;
  -webkit-animation: marquee 30s linear infinite;
          animation: marquee 30s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.marquee.paused, .marquee-container:hover .marquee {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

html,
body {
  font-family: CustomSansSerif;
}

@font-face {
  font-family: CustomSansSerif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: CustomSansSerif;
  src: url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
  unicode-range: U+00-024F;
}
/*# sourceMappingURL=Main.css.map */